certifi==2021.5.30
chardet==4.0.0
click==8.0.1
Cython==0.29.23
dataclasses==0.8
datasets==1.9.0
dill==0.3.4
filelock==3.0.12
fsspec==2021.6.1
huggingface-hub==0.0.12
idna==2.10
importlib-metadata==4.6.1
jieba==0.39
jiwer==2.2.0
joblib==1.0.1
kenlm==0.0.0
multiprocess==0.70.12.2
nltk==3.6.2
numpy==1.19.5
packaging==21.0
pandas==1.1.5
portalocker==2.0.0
protobuf==3.17.3
pyarrow==1.0.0
pyparsing==2.4.7
pypinyin==0.42.0
python-dateutil==2.8.1
python-Levenshtein==0.12.2
pytz==2021.1
PyYAML==5.4.1
regex==2021.7.6
requests==2.25.1
sacrebleu==1.5.1
sacremoses==0.0.45
scikit-learn==0.24.2
scipy==1.5.4
sentencepiece==0.1.96
six==1.16.0
tensorboardX==2.4
threadpoolctl==2.1.0
tokenizers==0.10.3
torch==1.9.0
tqdm==4.61.2
typing-extensions==3.10.0.0
urllib3==1.26.6
xxhash==2.0.2
zipp==3.5.0
